# App
NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

# JWT
JWT_SECRET=CHANGE_ME_SUPER_SECRET
JWT_EXPIRES_IN=8h

# Database (Docker Compose)
DATABASE_URL="postgresql://arduino_user:arduino_pass@localhost:5432/arduino_store?schema=public"


